<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Sobre</h2>
      <p class="footer__about-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat dignissimos mollitia quisquam magni, dolorem sequi distinctio culpa nulla, expedita tempora dolor nostrum recusandae maiores voluptate vel? Fugiat quod obcaecati exercitationem.
      </p>
    </section>
    <address>
      <h2 class="footer__title">Contato</h2>
      <ul>
        <li><i class="las la-envelope"></i> email@example.com</li>
        <li><i class="las la-phone"></i> (xx) xxxx xxxx</li>
        <li><i class="lab la-whatsapp"></i> (xx) xxxx xxxx</li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright">
    &copy; Todos os direitos reservados.
  </section>
</footer>
