<section class="product-list">
  <div class="product-list__card" *ngFor="let produto of produtos">
    <a class="product-list__link" [id]="produto.id" routerLink="/produtos/{{ produto.id }}">
      <img [src]="produto.imagem" />
     <h2 class="product-item__name">
      {{ produto.descricao}}
     </h2>
     <p class="product-item__price">
      {{ produto.preco | currency : 'BRL' }}
     </p>
     <p class="product-item__price-description">
      {{ produto.descricaoPreco}}
     </p>
     <button type="button" class="product-item__buy-button"><i class="las la-cart-plus"></i> Comprar</button>
    </a>
  </div>
</section>
